BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "ctl_spi_cs" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_si" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "ctl_spi_so" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
LOCATE COMP "ctl_spi_cs" SITE "PR11A" ;
LOCATE COMP "ctl_spi_si" SITE "PR12A" ;
LOCATE COMP "ctl_spi_so" SITE "PR11B" ;
LOCATE COMP "osc_in" SITE "65" ;
FREQUENCY PORT "osc_in" 45.000000 MHz ;
IOBUF PORT "osc_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ctl_spi_sck" SITE "100" ;
IOBUF PORT "ctl_spi_sck" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
