BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clk" 50.000000 MHz ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PCICLAMP=OFF ;
LOCATE COMP "leds[0]" SITE "1" ;
LOCATE COMP "leds[1]" SITE "2" ;
LOCATE COMP "leds[2]" SITE "5" ;
LOCATE COMP "leds[3]" SITE "6" ;
IOBUF PORT "ctl_spi_cs" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_si" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_spi_so" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "mem_qpi_io[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[3]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "65" ;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_we" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ctl_spi_cs" SITE "101" ;
LOCATE COMP "ctl_spi_sck" SITE "100" ;
LOCATE COMP "ctl_spi_so" SITE "99" ;
LOCATE COMP "ctl_spi_si" SITE "98" ;
LOCATE COMP "mem_qpi_cs" SITE "78" ;
LOCATE COMP "mem_qpi_sck" SITE "89" ;
LOCATE COMP "mem_qpi_io[0]" SITE "93" ;
LOCATE COMP "mem_qpi_io[1]" SITE "92" ;
LOCATE COMP "mem_qpi_io[2]" SITE "91" ;
LOCATE COMP "mem_qpi_io[3]" SITE "77" ;
LOCATE COMP "flash_cs" SITE "13" ;
LOCATE COMP "flash_mosi" SITE "19" ;
LOCATE COMP "flash_sck" SITE "16" ;
LOCATE COMP "flash_miso" SITE "18" ;
LOCATE COMP "flash_we" SITE "10" ;
