BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clk" 45.000000 MHz ;
FREQUENCY NET "clkop" 67.500000 MHz ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PCICLAMP=OFF ;
LOCATE COMP "leds[0]" SITE "1" ;
LOCATE COMP "leds[1]" SITE "2" ;
LOCATE COMP "leds[2]" SITE "5" ;
LOCATE COMP "leds[3]" SITE "6" ;
IOBUF PORT "ctl_spi_cs" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_si" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_spi_so" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "mem_qpi_io[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[3]" IO_TYPE=LVCMOS33 DRIVE=12 ;
LOCATE COMP "clk" SITE "65" ;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33 DRIVE=12 ;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_we" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ctl_spi_cs" SITE "101" ;
LOCATE COMP "ctl_spi_sck" SITE "100" ;
LOCATE COMP "ctl_spi_so" SITE "99" ;
LOCATE COMP "ctl_spi_si" SITE "98" ;
LOCATE COMP "mem_qpi_cs" SITE "78" ;
LOCATE COMP "mem_qpi_sck" SITE "89" ;
LOCATE COMP "mem_qpi_io[0]" SITE "93" ;
LOCATE COMP "mem_qpi_io[1]" SITE "92" ;
LOCATE COMP "mem_qpi_io[2]" SITE "91" ;
LOCATE COMP "mem_qpi_io[3]" SITE "77" ;
LOCATE COMP "flash_cs" SITE "13" ;
LOCATE COMP "flash_mosi" SITE "19" ;
LOCATE COMP "flash_sck" SITE "16" ;
LOCATE COMP "flash_we" SITE "10" ;
LOCATE COMP "flash_miso" SITE "18" ;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sram_qpi_io[0]" SITE "30" ;
LOCATE COMP "sram_qpi_io[2]" SITE "27" ;
IOBUF PORT "sram_qpi_io[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_qpi_io[3]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sram_qpi_sck" SITE "22" ;
IOBUF PORT "sram_qpi_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_qpi_io[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sram_qpi_cs[0]" SITE "36" ;
LOCATE COMP "sram_qpi_cs[1]" SITE "35" ;
LOCATE COMP "sram_qpi_cs[2]" SITE "32" ;
LOCATE COMP "sram_qpi_cs[3]" SITE "31" ;
IOBUF PORT "sram_qpi_cs[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_qpi_cs[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_qpi_cs[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_qpi_cs[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_qpi_io[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sram_qpi_io[3]" SITE "29" ;
LOCATE COMP "sram_qpi_io[1]" SITE "28" ;
IOBUF PORT "ccd_adc_sample" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_cds_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_cds_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_horizontal_phases[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_horizontal_phases[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_horizontal_phases[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_horizontal_phases[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_rg" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vertical_phases[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_vsub" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_xsub" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ccd_horizontal_phases[1]" SITE "143" ;
LOCATE COMP "ccd_horizontal_phases[2]" SITE "142" ;
LOCATE COMP "ccd_horizontal_phases[3]" SITE "141" ;
LOCATE COMP "ccd_adc_sample" SITE "138" ;
LOCATE COMP "ccd_cds_1" SITE "134" ;
LOCATE COMP "ccd_cds_2" SITE "133" ;
LOCATE COMP "ccd_rg" SITE "137" ;
LOCATE COMP "ccd_vsub" SITE "119" ;
LOCATE COMP "ccd_xsub" SITE "120" ;
LOCATE COMP "ccd_vertical_phases[0]" SITE "132" ;
LOCATE COMP "ccd_vertical_phases[1]" SITE "131" ;
LOCATE COMP "ccd_vertical_phases[2]" SITE "130" ;
LOCATE COMP "ccd_vertical_phases[3]" SITE "129" ;
LOCATE COMP "ccd_vertical_phases[4]" SITE "127" ;
LOCATE COMP "ccd_vertical_phases[5]" SITE "125" ;
LOCATE COMP "ccd_vertical_phases[6]" SITE "124" ;
LOCATE COMP "ccd_vertical_phases[7]" SITE "123" ;
LOCATE COMP "ccd_vertical_phases[8]" SITE "122" ;
LOCATE COMP "ccd_vertical_phases[9]" SITE "121" ;
IOBUF PORT "ccd_adc[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ccd_adc[11]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ccd_adc[0]" SITE "37" ;
LOCATE COMP "ccd_adc[1]" SITE "38" ;
LOCATE COMP "ccd_adc[2]" SITE "39" ;
LOCATE COMP "ccd_adc[3]" SITE "40" ;
LOCATE COMP "ccd_adc[4]" SITE "43" ;
LOCATE COMP "ccd_adc[5]" SITE "44" ;
LOCATE COMP "ccd_adc[6]" SITE "45" ;
LOCATE COMP "ccd_adc[7]" SITE "46" ;
LOCATE COMP "ccd_adc[8]" SITE "47" ;
LOCATE COMP "ccd_adc[9]" SITE "48" ;
LOCATE COMP "ccd_adc[10]" SITE "50" ;
LOCATE COMP "ccd_adc[11]" SITE "52" ;
LOCATE COMP "ccd_horizontal_phases[0]" SITE "144" ;
