BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clk" 50.000000 MHz ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PCICLAMP=OFF ;
LOCATE COMP "leds[0]" SITE "46" ;
LOCATE COMP "leds[1]" SITE "45" ;
LOCATE COMP "leds[2]" SITE "44" ;
LOCATE COMP "leds[3]" SITE "43" ;
LOCATE COMP "leds[4]" SITE "40" ;
LOCATE COMP "leds[5]" SITE "39" ;
LOCATE COMP "leds[6]" SITE "38" ;
LOCATE COMP "leds[7]" SITE "37" ;
LOCATE COMP "mem_qpi_cs" SITE "98" ;
LOCATE COMP "mem_qpi_sck" SITE "116" ;
LOCATE COMP "mem_qpi_io[0]" SITE "96" ;
LOCATE COMP "mem_qpi_io[1]" SITE "115" ;
LOCATE COMP "mem_qpi_io[2]" SITE "94" ;
LOCATE COMP "mem_qpi_io[3]" SITE "114" ;
IOBUF PORT "ctl_spi_cs" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_sck" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "ctl_spi_si" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_spi_so" IO_TYPE=LVCMOS33 OPENDRAIN=OFF ;
IOBUF PORT "mem_qpi_io[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_qpi_io[3]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "21" ;
IOBUF PORT "flash_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_cs" SITE "11" ;
LOCATE COMP "flash_sck" SITE "13" ;
LOCATE COMP "flash_mosi" SITE "15" ;
LOCATE COMP "flash_we" SITE "18" ;
IOBUF PORT "flash_we" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_miso" SITE "16" ;
IOBUF PORT "mem_spi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_spi_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_spi_si" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_spi_so" IO_TYPE=LVCMOS33 ;
LOCATE COMP "mem_spi_cs" SITE "103" ;
LOCATE COMP "mem_spi_sck" SITE "101" ;
LOCATE COMP "mem_spi_si" SITE "102" ;
LOCATE COMP "mem_spi_so" SITE "100" ;
